<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Main Suite">
    <listeners>
        <listener class-name="listeners.ReportListener"/>
    </listeners>
    <suite-files>
<!--        <suite-file path="src/test/java/tests/smoke/smoke-suite.xml"/>-->
        <suite-file path="src/test/java/tests/regression/regression-suite.xml"/>
    </suite-files>
</suite>